<div class="characterName"><h2>Darth Maul</h2></div>
<div>
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide class="imageContainer" ng-repeat="slide in maulSlides" active="slide.active">
        <img class="slideImage" ng-src="{{slide.image}}">
      </uib-slide>
    </uib-carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
      
    </div>
    
  </div>
</div>
<div class="backstory">
  Darth Maul was a male Dathomirian Zabrak, eventual Dark Lord of the Sith, who lived during the waning years of the Galactic Republic. Originally a Dathomiri Nightbrother born on Iridonia and known only as Maul, the infant Maul was given by his Nightsister mother to the Sith Lord Darth Sidious, who trained him in the ways of the dark side of the Force as his secret apprentice on a secret Mustafar training facility, along with the help of a split personality droid. Maul became a master of Juyo, Ataru, Jar'Kai, and Teräs Käsi, with training in Niman, and chose to wield a red-bladed saberstaff in combat. Though well trained in the ways of the Sith and a Sith assassin rather than a full apprentice, Maul was technically a violation of the Rule of Two because his own Master was at the time apprenticed to another, the Muun Sith Lord Darth Plagueis.
</div>
<div class="characterName"><h2>OBI-WAN KENOBI</h2></div>
<div>
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide class="imageContainer" ng-repeat="slide in obiSlides" active="slide.active">
        <img class="slideImage" ng-src="{{slide.image}}">
      </uib-slide>
    </uib-carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</div>
<div class="backstory">
  Obi-Wan Kenobi, later known as Ben Kenobi during his exile, was a legendary Jedi Master who played a significant role in the fate of the galaxy during the waning days of the Galactic Republic. He was the mentor of both Anakin and Luke Skywalker, training both in the ways of the Force. He had a long and tumultuous career that helped shape the fate of the entire galaxy.

Born in 57 BBY on Stewjon, Kenobi was taken as the Jedi apprentice of Qui-Gon Jinn and traveled on many missions with him. During the Invasion of Naboo in 32 BBY, Kenobi became the first Jedi in approximately 1,000 years to defeat a Sith Lord in combat when he defeated Darth Maul during the Battle of Naboo, yet lost his master in the same duel. In 22 BBY, Kenobi found the Clone army on Kamino, and he was captured and almost executed in the Petranaki arena on Geonosis, along with Skywalker and Senator Padmé Amidala. The newly arrived clone troopers rescued them, but the following battle began the galaxy-wide Clone Wars.
</div>
<div class="characterName"><h2>Darth Revan</h2></div>
<div>
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide class="imageContainer" ng-repeat="slide in revanSlides" active="slide.active">
        <img class="slideImage" ng-src="{{slide.image}}">
      </uib-slide>
    </uib-carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</div>
<div class="backstory">
  A Human male, the individual later known as Revan was born in approximately 3994 BBY, and some believed that he had been born in the Outer Rim Territories. The child who would be remembered as Revan was eventually discovered to be Force-sensitive and was accepted into the Jedi Order. The Jedi Master Kreia claimed to have been his first teacher in the ways of the Force. Regardless of the truth of her statement, the Human was trained along with a fellow student named Alek on both the planet Coruscant and at the Jedi Enclave on the planet Dantooine. Both Humans received further training from the Twi'lek Jedi Master Zhar Lestin, who noted that the future Revan possessed what he described as an insatiable desire for knowledge. Lestin believed that it was simply youthful exuberance and eagerness, and he expected the young man to become a champion of the Order—a sentiment shared by Master Vandar Tokare, though Master Vrook Lamar was wary of the student's desire for knowledge.

The Jedi studied under a number of Jedi Masters after leaving the tutelage of his first teacher, learning from Master Lestin, the Enclave's chronicler Master Dorak, and Arren Kae. The former Jedi hopeful Mical later claimed that Revan had undertaken a thorough study of Force bonds and other uncommon Force powers during his time as a Padawan. Alongside Alek, the future Revan achieved the rank of Jedi Knight sometime before the year 3964 BBY, and the two were widely acknowledged as being among the most promising members of the Jedi Order. However, Alek's friend was commonly recognized as the more powerful and intelligent of the pair, and he was seen as the leader among the two. By 3964 BBY, the man was a well-known, charismatic, and powerful Jedi Knight. According to Mical, Revan returned to his first teacher in order to learn how to best leave the Jedi Order, though he did not follow through.
</div>